* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f9fa;
}

a {
  text-decoration: none;
  color: #333;
}

h4, p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  background: #eee;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin-right: auto;
}

nav ul li {
  display: inline-block;
  margin-left: 2em;
}

#main {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

.product {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.product:last-child {
  border-bottom: none;
}
.product img {
  margin-right: 20px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

form {
  padding: 20px;
}

input, textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}


.form-group {
  margin-bottom: 15px;
}

.form-group.image-upload {
  display: flex;
}

[type=file] {
  display: none;
}

label[for=image-upload-btn]{
  background: steelblue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 14px;
  width: 8em;
  /* box-sizing: content-box; */
  text-align: center;
}

.upload-name {
  border-radius: 0 5px 5px 0;
}

#send {
  display: block;
  width: 100%;
  border: none;
  background: orangered;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* width: 8em; */
  text-align: center;
}