* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h4, p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  background: #eee;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin-right: auto;
}

nav ul li {
  display: inline-block;
  margin-left: 2em;
}

#main {

}

.product {
  padding: 1em;
  display: flex;
  align-items: center;
}

.product img {
  margin-right: 20px;
}

form {
  padding: 20px;
}

input, textarea {
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}


.form-group {
  margin-bottom: 10px;
}

.form-group.image-upload {
  display: flex;
}

[type=file] {
  display: none;
}

label[for=image-upload-btn]{
  background: steelblue;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 14px;
  width: 8em;
  /* box-sizing: content-box; */
  text-align: center;
}

.upload-name {
  border-radius: 0 5px 5px 0;
}

#send {
  border: none;
  background: orangered;
  color: #fff;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  /* width: 8em; */
  text-align: center;
}